<h1>Tea List:</h1>

<% @teas.each do |tea| %>
  <a href="/teas/<%= tea.id %>"><h3><%= tea.name %></h3></a>
  <li><b>Caffinated? </b><%= tea.caffeinated %></li><br/>
  <li>Category: <%= tea.category %></li>
  <li>Origin: <%= tea.origin %></li>
  <li>Grams Needed: <%= tea.grams_needed %></li>
  <li>Steep Time:<%= tea.steep_time %></li>
  <li>Brew Temp: <%= tea.brew_temp %></li>
  <li>Number of Infusions: <%= tea.number_of_infusions %></li>
  <li>Ideal Teapot: <%= tea.ideal_teapot %></li>
  <li>Season Picked: <%= tea.season_picked %></li>
  <%= link_to "Update Tea", "/teas/#{tea.id}/edit", method: :get %>
<% end %>
