<h1><%= @tea_show.name %> Tea Attributes:</h1>

  <h3>Name: <%= @tea_show.name %></h3>
  <li>Category: <%= @tea_show.category %></li>
  <li>Origin: <%= @tea_show.origin %></li>
  <li>Grams Needed: <%= @tea_show.grams_needed %></li>
  <li>Steep Time:<%= @tea_show.steep_time %></li>
  <li>Brew Temp: <%= @tea_show.brew_temp %></li>
  <li>Number of Infusions: <%= @tea_show.number_of_infusions %></li>
  <li>Season Picked: <%= @tea_show.season_picked %></li>
  <li>Ideal Teapot: <%= @tea_show.ideal_teapot %></li>
  <li>Caffinated? <%= @tea_show.caffeinated %></li><br/>
  <%= link_to "Update Tea", "/teas/#{@tea_show.id}/edit", method: :get %>
