<a href="/microbreweries">Brewery Index</a>
<h1><%= @microbrewery.name %></h1>
<p><b>Location: </b><%= @microbrewery.location %></p> 
<p><b>License Renewal Date: </b><%= @microbrewery.license_renewal %></p>
<p><b>Offers Outdoor Seating: </b><%= @microbrewery.outdoor_seating %></p>
<p><b>Social Distancing: </b><%= @microbrewery.social_distancing %></p>


