<a href="/tasks">Task Index</a>
<h1><%= @microbrewery.name %></h1>
<p><%= @microbrewery.location %></p> 
<p><%= @microbrewery.license_renewal %></p>
<p><%= @microbrewery.outdoor_seating %></p>
<p><%= @microbrewery.social_distancing %></p>


