<h3>Edit <%= @teahouse.name %></h3>

<%= form_tag("/teahouses/#{@teahouse.id}", :method => "post") do %>
  <%= label_tag :name %><br>
  <%= text_field_tag :name %><br>
  <%= label_tag :location %><br>
  <%= text_field_tag :location %><br>
  <%= label_tag :restocked_on %><br>
  <%= date_field_tag :restocked_on, :date %><br>
  <%= label_tag :opening_date %><br>
  <%= date_field_tag :opening_date, :date %><br>
  <%= label_tag :allows_dogs %>
  <%= hidden_field_tag :allows_dogs, false %>
  <%= check_box_tag :allows_dogs, true %><br>
  <%= submit_tag 'Submit'%>
<% end %>
