<a href="/teahouses">Tea House Index</a>
<h2>Welcome to <%=  @teahouse.name %>!</h2>
<p><b>Location: </b><%= @teahouse.location %></p>
<p><b>Restocked On: </b><%= @teahouse.restocked_on %></p>
<p><b>Opening Date: </b><%= @teahouse.opening_date %></p>
<p><b>Dogs Permitted: </b><%= @teahouse.allows_dogs %></p>
