<h1><%= @teahouse.name %> Tea List:</h1>

<% @teahouse_teas.each do |tea| %>
  <h3>Name: <%= tea.name %></h3>
  <li>Category: <%= tea.category %></li>
  <li>Origin: <%= tea.origin %></li>
  <li>Grams Needed: <%= tea.grams_needed %></li>
  <li>Steep Time:<%= tea.steep_time %></li>
  <li>Brew Temp: <%= tea.brew_temp %></li>
  <li>Number of Infusions: <%= tea.number_of_infusions %></li>
  <li>Season Picked: <%= tea.season_picked %></li>
  <li>Ideal Teapot: <%= tea.ideal_teapot %></li>
  <li>Caffinated? <%= tea.caffeinated %></li><br/>
<% end %>

<%= link_to "Add New Tea", "/teahouses/#{@teahouse.id}/teas/new", method: :get %><br>

<%= link_to "Take Me Back", "/teahouses/#{@teahouse.id}", method: :get %><br>
