<h1><%= @beer.name %> Beer Facts:</h1>

<l1><b><%= @beer.name %></b></l1>
<li>Category: <%= @beer.category %></li>
<li>ABV: <%= @beer.ABV %></li>
<li>Ideal Vessel: <%= @beer.ideal_vessel %></li>
<li>Body: <%= @beer.body %></li>
<li>Aroma: <%= @beer.aroma %></li>
<li>Color: <%= @beer.color %></li>
<li>Brew Date: <%= @beer.brewed_on %></li><br>

<%= link_to "Update Beer", "/beers/#{@beer.id}/edit", method: :get %>
